.container-new-task {
  display: flex;
  position: relative;
  box-sizing: border-box;
  margin: 20px;
}

.input-add-new-task {
  box-sizing: border-box;
  display: flex;
  border: 2px solid gray;
  border-radius: 50px;
  padding: 20px 110px 20px 30px;
  color: rgb(154, 109, 109);
  cursor: pointer;
  width: 100%;
  &:hover,
  &:focus {
    border-color: rgb(50, 152, 103);
  }
}

.add-task-btn {
  position: absolute;
  color: blanchedalmond;
  background: orange;
  padding: 22px 35px;
  border-radius: 50px;
  top: 0px;
  right: 0px;
  transition: ease-in 0.3s;
  &:hover {
    background-color: green;
    box-shadow: 4px 4px rgb(205, 233, 209);
  }
}
