.task-lists {
  display: flex;
  flex-direction: column;

  gap: 10px;
  margin: 20px;
  padding: 10px;
  box-sizing: border-box;
  max-height: 250px;
  overflow-y: auto;
  border: 1px solid rgb(74, 140, 184);
  border-radius: 5px;
  height: 400px;
}

.list-of-li {
  display: flex;
  text-align: start;
  border: 1px solid orange;
  border-radius: 20px;
  padding: 5px 5px 5px 10px;
  align-items: center;
}

.empty {
  font-size: 30px;
  margin: auto;
}
